<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gdsc.netwalk.mapper.user.UserMapper">

    <insert id="registerUser" parameterType="gdsc.netwalk.common.vo.CustomMap"
			useGeneratedKeys="true" keyProperty="user_no" keyColumn="user_no">
		<![CDATA[
			INSERT INTO USER_TB
				(
					NAME,
					EMAIL,
					REG_DT,
					MOD_DT
				)
			VALUES
				(
					#{name},
					#{email},
					NOW(),
					NOW()
				);
        ]]>
	</insert>

    <select id="selectUserByEmail" parameterType="String" resultType="gdsc.netwalk.domain.user.User">
		<![CDATA[
			SELECT
				USER_NO AS user_no,
				EMAIL AS email
			FROM
				USER_TB
			WHERE
				EMAIL = #{email};
        ]]>
	</select>

	<select id="selectUserProfile" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				UT.USER_NO AS user_no,
				UT.NAME AS name,
				UT.EMAIL AS email,
				UT.IMG_URL AS img_url,
				COUNT(*) AS act_cnt,
				SUM(TOTAL_ACT_DISTANCE) AS total_act_distance,
				SUM(TOTAL_ACT_TIME) AS total_act_time,
				(
					SELECT
						COUNT(*)
					FROM ACTIVITY_TRASH_TB ATT
					WHERE ATT.ACT_NO IN (
						SELECT ACT_NO
						FROM ACTIVITY_TB AT2
						WHERE AT2.USER_NO = #{user_no}
					)
			) AS total_act_trash
			FROM USER_TB UT
			INNER JOIN ACTIVITY_TB ATB
			ON UT.USER_NO = ATB.USER_NO
			GROUP BY ATB.USER_NO
			HAVING ATB.USER_NO = #{user_no}
		]]>
	</select>
</mapper>