<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gdsc.netwalk.mapper.activity.ActivityMapper">

    <insert id="registerActivity" parameterType="gdsc.netwalk.common.vo.CustomMap"
			useGeneratedKeys="true" keyProperty="act_no" keyColumn="act_no">
		<![CDATA[
			INSERT INTO ACTIVITY_TB
				(
					USER_NO,
					GROUP_NO,
					TOTAL_ACT_DISTANCE,
					TOTAL_ACT_TIME,
					SHARE_ST,
					REG_DT,
					MOD_DT
				)
			VALUES
				(
					#{user_no},
					#{group_no},
					#{total_act_distance},
					#{total_act_time},
					#{share_st},
					NOW(),
					NOW()
				);
		]]>
	</insert>

	<insert id="registerActivityDistance" parameterType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			INSERT INTO ACTIVITY_DISTANCE_TB
				(
					ACT_NO,
					LATITUDE,
					LONGITUDE
				)
			VALUES
		]]>
		<foreach item="degree" collection="customList" separator=",">
			(
			 	#{act_no},
			 	#{degree.latitude},
				#{degree.longitude}
			 )
		</foreach>

	</insert>

	<select id="selectActivityByUser" parameterType="gdsc.netwalk.common.vo.CustomMap" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				GROUP_NO,
				TOTAL_ACT_DISTANCE,
				TOTAL_ACT_TIME,
				SHARE_ST,
				DATE_FORMAT(REG_DT, "%Y-%m-%d") AS REG_DT
			FROM ACTIVITY_TB
			WHERE USER_NO = #{user_no};
		]]>
	</select>

	<select id="selectActivityDistanceByUser" parameterType="gdsc.netwalk.common.vo.CustomMap" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				ADT.LATITUDE,
				ADT.LONGITUDE
			FROM ACTIVITY_TB ACT
			INNER JOIN ACTIVITY_DISTANCE_TB ADT
			ON ACT.ACT_NO = ADT.ACT_NO
			WHERE ACT.USER_NO = #{user_no};
		]]>
	</select>
</mapper>