<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gdsc.netwalk.mapper.activity.ActivityMapper">

    <insert id="registerActivity" parameterType="gdsc.netwalk.common.vo.CustomMap"
			useGeneratedKeys="true" keyProperty="act_no" keyColumn="act_no">
		<![CDATA[
			INSERT INTO ACTIVITY_TB
				(
					USER_NO,
				 	ACT_ST,
				 	ACT_GB,
					REG_DT,
					MOD_DT
				)
			VALUES
				(
					#{user_no},
					#{act_st},
					#{act_gb},
					NOW(),
					NOW()
				);
		]]>
	</insert>

	<insert id="registerGroupActivity" parameterType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			INSERT INTO GROUP_ACTIVITY_TB
			(
				USER_NO,
				GROUP_NO
			)
			VALUES
			(
				#{user_no},
				#{group_no}
			)
		]]>
	</insert>

	<update id="updateActivity" parameterType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			UPDATE ACTIVITY_TB SET
				TOTAL_ACT_DISTANCE = #{total_act_distance},
				TOTAL_ACT_TIME = #{total_act_time},
				SHARE_ST = #{share_st},
				ACT_ST = #{act_st}
			WHERE ACT_NO = #{act_no};
		]]>
	</update>

	<insert id="registerActivityDistance" parameterType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			INSERT INTO ACTIVITY_DISTANCE_TB
				(
					ACT_NO,
					LATITUDE,
					LONGITUDE
				)
			VALUES
		]]>
		<foreach item="degree" collection="distances" separator=",">
			(
			 	#{act_no},
			 	#{degree.latitude},
				#{degree.longitude}
			 )
		</foreach>
	</insert>

	<select id="isParticipateInGroup" resultType="int">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM USER_GROUP_TB
			WHERE GROUP_NO = #{group_no}
			AND USER_NO = #{user_no};
		]]>
	</select>

	<select id="selectAllActivity" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				UT.USER_NO AS user_no,
				UT.NAME AS name,
				UT.EMAIL AS email,
				UT.IMG_URL AS img_url,
				ATB.ACT_NO AS act_no,
				ATB.TOTAL_ACT_DISTANCE AS total_act_distance,
				ATB.TOTAL_ACT_TIME AS total_act_time,
				ATB.SHARE_ST AS share_st,
				DATE_FORMAT(ATB.REG_DT, "%Y-%m-%d") AS reg_dt
			FROM ACTIVITY_TB ATB
			INNER JOIN USER_TB UT
			ON ATB.USER_NO = UT.USER_NO
			WHERE ATB.SHARE_ST = 1
			AND ATB.ACT_ST = 'finish';
		]]>
	</select>

	<select id="selectActivityByUser" parameterType="gdsc.netwalk.common.vo.CustomMap" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				ACT_NO AS act_no,
				TOTAL_ACT_DISTANCE AS total_act_distance,
				TOTAL_ACT_TIME AS total_act_time,
				SHARE_ST AS share_st,
				ACT_GB AS act_gb,
				DATE_FORMAT(REG_DT, "%Y-%m-%d") AS reg_dt
			FROM ACTIVITY_TB
			WHERE USER_NO = #{user_no}
		  	AND ATB.ACT_ST = 'finish';
		]]>
	</select>

	<select id="selectActivityDistanceByUser" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				LATITUDE AS latitude,
				LONGITUDE AS longitude
			FROM ACTIVITY_DISTANCE_TB
			WHERE ACT_NO = #{act_no};
		]]>
	</select>

	<select id="selectRankingActivity" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				ATB.USER_NO AS user_no,
				UT.NAME AS name,
				UT.EMAIL AS email,
		]]>
		<choose>
			<when test="'distance'.equals(type)">
				SUM(ATB.TOTAL_ACT_DISTANCE) AS total_act_distance,
				RANK() OVER (ORDER BY SUM(ATB.TOTAL_ACT_DISTANCE) DESC) AS ranking
			</when>
			<when test="'time'.equals(type)">
				SUM(ATB.TOTAL_ACT_TIME) AS total_act_time,
				RANK() OVER (ORDER BY SUM(ATB.TOTAL_ACT_TIME) DESC) AS ranking
			</when>
		</choose>
		<![CDATA[
			FROM ACTIVITY_TB ATB
			INNER JOIN USER_TB UT
			ON ATB.USER_NO = UT.USER_NO
			WHERE ATB.ACT_ST = 'finish'
			GROUP BY ATB.USER_NO
			ORDER BY RANKING ASC;
		]]>
	</select>

	<update id="updateAcitivtyShareST" parameterType="gdsc.netwalk.common.vo.CustomMap">
		UPDATE ACTIVITY_TB SET
		   SHARE_ST = #{share_st}
		WHERE ACT_NO = #{act_no}
	</update>

	<select id="selectTrashByActivity" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				TRASH_NO AS trash_no,
				CATEGORY AS category,
				IMG_URL AS img_url,
				DATE_FORMAT(REG_DT, "%Y-%m-%d") AS reg_dt
			FROM ACTIVITY_TRASH_TB
			WHERE ACT_NO = #{act_no}
		]]>
	</select>

</mapper>