<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gdsc.netwalk.mapper.group.GroupMapper">

    <insert id="registerGroup" parameterType="gdsc.netwalk.common.vo.CustomMap"
			useGeneratedKeys="true" keyProperty="group_no" keyColumn="group_no">
		<![CDATA[
			INSERT INTO GROUP_TB
				(
				 	CREATE_USER_NO,
					NAME,
					CAPACITY,
				 	PARTICIPANT,
				 	CATEGORY,
				    DEL_ST,
					REG_DT,
					MOD_DT
				)
			VALUES
				(
					#{create_user_no},
					#{name},
					#{capacity},
					#{participant},
					#{category},
				    0,
					NOW(),
					NOW()
				);
        ]]>
	</insert>

	<select id="selectParticipateGroupList" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				GT.NAME AS name,
				GT.GROUP_NO AS group_no,
				GT.CREATE_USER_NO AS create_user_no,
				GT.CAPACITY AS capacity,
				GT.PARTICIPANT AS participant,
				GT.CATEGORY AS category,
				DATE_FORMAT(GT.REG_DT, '%Y-%m-%d') AS reg_dt,
				DATE_FORMAT(GT.MOD_DT, '%Y-%m-%d') AS mod_dt,
				UGT.ACT_ST AS act_st,
				UGT.DEL_ST AS del_st
			FROM
				GROUP_TB GT
			INNER JOIN USER_GROUP_TB UGT
				ON GT.GROUP_NO = UGT.GROUP_NO
			WHERE
				GT.DEL_ST = 0 AND
				UGT.USER_NO = #{userNo}
		]]>
	</select>

	<select id="selectGroupListByCreateUserNo" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				GROUP_NO AS group_no,
				CREATE_USER_NO AS create_user_no,
				NAME AS name,
				CAPACITY AS capacity,
				PARTICIPANT AS participant,
				CATEGORY AS category,
				DEL_ST AS del_st,
				DATE_FORMAT(REG_DT, '%Y-%m-%d') AS reg_dt,
				DATE_FORMAT(MOD_DT, '%Y-%m-%d') AS mod_dt
			FROM
				GROUP_TB
			WHERE
				CREATE_USER_NO = #{createUserNo};
		]]>
	</select>

	<select id="isExistParticipatedByUserNo" parameterType="gdsc.netwalk.common.vo.CustomMap" resultType="int">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM
				USER_GROUP_TB
			WHERE
				USER_NO = #{user_no} AND
				GROUP_NO = #{group_no};
		]]>
	</select>

	<insert id="participateGroup" parameterType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			INSERT INTO USER_GROUP_TB
				(
					USER_NO,
					GROUP_NO,
					ACT_ST,
					DEL_ST,
					REG_DT,
					MOD_DT
				)
			VALUES
				(
					#{user_no},
					#{group_no},
				 	0,
				 	0,
				 	NOW(),
					NOW()
				);
		]]>
	</insert>

	<select id="selectCategoryGroup" parameterType="gdsc.netwalk.common.vo.CustomMap" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				GROUP_NO AS group_no,
				CREATE_USER_NO AS create_user_no,
				NAME AS name,
				CAPACITY AS capacity,
				PARTICIPANT AS participant,
				CATEGORY AS category,
				DEL_ST AS del_st,
				DATE_FORMAT(REG_DT, '%Y-%m-%d') AS reg_dt,
				DATE_FORMAT(MOD_DT, '%Y-%m-%d') AS mod_dt
			FROM
				GROUP_TB
			]]>
			<choose>
				<when test="category !=null and !category.equals('')">
					<![CDATA[
						WHERE
							CATEGORY = #{category}
					]]>
				</when>
			</choose>
		<![CDATA[
			ORDER BY
				REG_DT DESC;
		]]>
	</select>

	<select id="selectGroupInUsers" parameterType="int" resultType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			SELECT
				UT.USER_NO AS user_no,
				UT.NAME AS name,
				UT.EMAIL AS email,
				UGT.ACT_ST AS act_st,
				SUM(ATB.TOTAL_ACT_DISTANCE) AS total_act_distance,
				SUM(ATB.TOTAL_ACT_TIME) AS total_act_time
			FROM USER_GROUP_TB UGT
					 INNER JOIN USER_TB UT ON UGT.USER_NO = UT.USER_NO
					 INNER JOIN ACTIVITY_TB ATB ON ATB.USER_NO = UT.USER_NO
			WHERE UGT.GROUP_NO = #{group_no}
			AND ATB.ACT_GB = 'group'
			GROUP BY UGT.USER_NO
		]]>
	</select>

	<update id="updateGroupActivityST" parameterType="gdsc.netwalk.common.vo.CustomMap">
		<![CDATA[
			UPDATE USER_GROUP_TB SET
			   ACT_ST = #{act_st}
			WHERE user_no = #{user_no}
			AND group_no = #{group_no};
		]]>
	</update>
</mapper>